/* (?:(?=[^\r\n])\s) */

a:link {color: black; background-color: transparent; text-decoration: none;}
a:visited{color: black;}
.head {font-size: 20px; text-align: center; margin-top: 40px;
}

body{
  margin: 5px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  }
/* search styling */
input[type=text]{
text-align: left;
border:none;
background-color: transparent;
font-size: 25px;
position: relative;
/* top: 18%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%); */
color: black;
font-family: 'Roboto', sans-serif;
font-weight: 900;
}

::placeholder{color: black;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: black;}
::-ms-input-placeholder { /* Microsoft Edge */color: black;}
input:focus{outline: none;}
:active {outline:none;}

.autoclass{
position: sticky;
top: 5px;
z-index: 9000;}

#autoid{
width: 100%;
padding-left: 15px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color:black;
background-color: white;
border-radius: 30px;
vertical-align:middle; 
line-height: 45px;
}

.panel{
height: 50px;
vertical-align:middle; 
width: 100%;
display: inline-block;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color:black;
background-color: white;
border-radius: 30px;
font-weight: 900;
}

.totheleft{
float: left;
width: calc(100% - 95px);
position: relative;
padding: 15px 0px 15px 15px;
top: 50%;
transform: translateY(-50%);
font-size: 16px;
}

.menu{
float:right;
margin-right: 10px;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.language{
float:right;
margin-right: 10px;
position: relative;
top: 50%;
transform: translateY(-50%);
}





.spanish_general_contents{
display: none;
}

.sticky {
position: sticky;
top: 5px;
z-index: 9000;
}


.blurry{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }

#currentones{
overflow: hidden;
height: auto;
/* text-align:center; */
margin-top: 5px;
background: transparent;
border-radius: 20px;
}





.icon{
display: inline-block;
vertical-align: middle;
margin: 10px;
margin-bottom: 0px;
margin-top: 0px;
height: 50px;
}


.wrapperstyle{
clear:both;
margin-top: 5px;
margin-left: -25px;
height: 0;
overflow: hidden;
transition: height 0.5s ease-in-out;
/* -webkit-transition:height 0.2s ;
-moz-transition:height 0.2s ;
-o-transition: height 0.2s; */
}
.spanishv{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: 	rgb(255, 0, 0);
margin:5px;
background: white;
border-radius: 20px;
}

.spanishv:focus{
font-weight: bold;
outline: none;
}

.spanishn{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(255, 0, 0);
margin:5px;
background: transparent;border-radius: 20px;
}

.spanishn:focus{
outline: none;
font-weight: bold;
}

.spanishadj{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(255, 100, 0);
margin:5px;
background: white;border-radius: 20px;
}

.spanishadj:focus{
font-weight: bold;
outline: none;
}

.spanishadv{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(255, 160, 0);
margin:5px;
background: white;border-radius: 20px;
}

.spanishadv:focus{
font-weight: bold;
outline: none;
}

.spanishprep{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(255, 190, 0);
margin:5px;
background: white;border-radius: 20px;
}

.spanishprep:focus{
font-weight: bold;
outline: none;
}

.spanishcolor{
  font-size: 22px;
  padding-left: 10px;
  border-width: 1px 1px 5px 1px;
  border-style:solid;
  border-color: rgb(0, 132, 255);
  margin:5px;
  background: white;border-radius: 20px;
  }
  
  .spanishcolor:focus{
  font-weight: bold;
  outline: none;
  }

.spanishnumber{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(255, 0, 221);
margin:5px;
background: white;border-radius: 20px;
}

.spanishnumber:focus{
font-weight: bold;
outline: none;
}

.spanishordinal{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(190, 17, 147);
margin:5px;
background: white;border-radius: 20px;
}

.spanishordinal:focus{
font-weight: bold;
outline: none;
}

.spanishquanme{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(70, 131, 35);
margin:5px;
background: white;border-radius: 20px;
}

.spanishquanme:focus{
font-weight: bold;
outline: none;
}

.spanishsouscowo{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(219, 193, 44);
margin:5px;
background: white;border-radius: 20px;
}

.spanishsouscowo:focus{
font-weight: bold;
outline: none;
}

.spanishtiex{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(167, 97, 97);
margin:5px;
background: white;border-radius: 20px;
}

.spanishtiex:focus{
font-weight: bold;
outline: none;
}

.spanishtiofda{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(97, 167, 126);
margin:5px;
background: white;border-radius: 20px;
}

.spanishtiofda:focus{
font-weight: bold;
outline: none;
}

.spanishdaofthwe{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(139, 97, 167);
margin:5px;
background: white;border-radius: 20px;
}

.spanishdaofthwe:focus{
font-weight: bold;
outline: none;
}

.spanishmoanseofthye{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(97, 167, 161);
margin:5px;
background: white;border-radius: 20px;
}

.spanishmoanseofthye:focus{
font-weight: bold;
outline: none;
}

.spanishquwo{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(148, 167, 97);
margin:5px;
background: white;border-radius: 20px;
}

.spanishquwo:focus{
font-weight: bold;
outline: none;
}

.spanishotusex{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(217, 119, 241);
margin:5px;
background: white;border-radius: 20px;
}

.spanishotusex:focus{
font-weight: bold;
outline: none;
}

.spanishothifrwo{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(24, 109, 105);
margin:5px;
background: white;border-radius: 20px;
}

.spanishothifrwo:focus{
font-weight: bold;
outline: none;
}

.spanishcountries{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(199, 16, 107);
margin:5px;
background: white;border-radius: 20px;
}

.spanishcountries:focus{
font-weight: bold;
outline: none;
}

.spanishcontinents{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(199, 68, 16);
margin:5px;
background: white;border-radius: 20px;
}

.spanishcontinents:focus{
font-weight: bold;
outline: none;
}

.spanishnationalities{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(111, 131, 0);
margin:5px;
background: white;border-radius: 20px;
}

.spanishnationalities:focus{
font-weight: bold;
outline: none;
}


.spanisharmose{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(0, 131, 81);
margin:5px;
background: white;border-radius: 20px;
}

.spanisharmose:focus{
font-weight: bold;
outline: none;
}

.spanishusacro{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(120, 131, 62);
margin:5px;
background: white;border-radius: 20px;
}

.spanishusacro:focus{
font-weight: bold;
outline: none;
}

.spanishsocialconven{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(146, 59, 37);
margin:5px;
background: white;border-radius: 20px;
}

.spanishsocialconven:focus{
font-weight: bold;
outline: none;
}

.spanishlausindianmes{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(37, 146, 113);
margin:5px;
background: white;border-radius: 20px;
}

.spanishlausindianmes:focus{
font-weight: bold;
outline: none;
}
.spanisho{
font-size: 22px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: #ffc100;
margin:5px;
background: transparent;border-radius: 20px;
}

.spanisho:focus{
font-weight: bold;
outline: none;
}

.spanishall{
font-size: 20px;
padding-left: 10px;
border-width: 1px 1px 5px 1px;
border-style:solid;
border-color: rgb(0, 0, 0);
margin:5px;
background: transparent;border-radius: 20px;
}

.spanishall:focus{
font-weight: bold;
outline: none;
}

.spanishoptions{
display: block;
margin: 0px -5px 0 auto;
width:150px;
height: 0;
overflow: hidden;
transition: height 0.2s ease-in-out;
}

.spanishoptionstyle{
float:right;
background-color: white;
font-size: 25px;
font-weight: 900;
}










/* start arrows */

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.mouse_scroll {
display: block;
margin: 0 auto;
width: 24px;
height: 100px;
margin-top: 20px;
margin-bottom: -30px;
}

.m_scroll_arrows{
display: block;
width: 5px;
height: 5px;
-ms-transform: rotate(45deg); /* IE 9 */
-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
transform: rotate(45deg);
border-right: 2px solid black;
border-bottom: 2px solid black;
margin: 0 0 3px 4px;
width: 16px;
height: 16px;
}


.unu{
margin-top: 1px;
}

.unu, .doi, .trei{
-webkit-animation: mouse-scroll 1s infinite;
-moz-animation: mouse-scroll 1s infinite;
animation: mouse-scroll 1s infinite;
}

.unu{
-webkit-animation-delay: .1s;
-moz-animation-delay: .1s;
-webkit-animation-direction: alternate;
animation-direction: alternate;
animation-delay: alternate;
}

.doi{
-webkit-animation-delay: .2s;
-moz-animation-delay: .2s;
-webkit-animation-direction: alternate;
animation-delay: .2s;
animation-direction: alternate;
margin-top: -6px;
}

.trei{
-webkit-animation-delay: .3s;
-moz-animation-delay: .3s;
-webkit-animation-direction: alternate;
animation-delay: .3s;
animation-direction: alternate;
margin-top: -6px;
}

@-webkit-keyframes mouse-scroll {
0%   { opacity: 0;}
50%  { opacity: .5;}
100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {
0%   { opacity: 0; }
50%  { opacity: .5; }
100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {
0%   { opacity: 0; }
50%  { opacity: .5; }
100% { opacity: 1; }
}
@keyframes mouse-scroll {
0%   { opacity: 0; }
50%  { opacity: .5; }
100% { opacity: 1; }
}

/* end arrows */